<span class="day-string">{{readableDayString}}</span>
<div class="cards">
    <ng-container *ngFor="let nutientCategory of nutrientCategories">
        <ng-container [ngSwitch]="getMenuItemState(nutientCategory)">
            <app-menu-item-card  
                *ngSwitchCase="menuItemState.VIEW" 
                [menuItem]="getMenuItem(nutientCategory)"
                [isEditable]="true"
                (onToggleMenuItemEditMode)="toggleMenuItemEditMode($event)"></app-menu-item-card>

            <app-edit-card 
                *ngSwitchCase="menuItemState.EDIT" 
                [editedMenuItem]="getMenuItem(nutientCategory)"
                (onEditMenuItem)="handleEditMenuItem($event)"></app-edit-card>

            <app-empty-card 
                *ngSwitchCase="menuItemState.MISSING" 
                [nutrientCategory]="nutientCategory" 
                (click)="triggerMenuItemPicker(nutientCategory)"></app-empty-card>
        </ng-container>
    </ng-container>
</div>