<span class="day-string">{{readableDayString}}</span>
<div class="cards">
    <ng-container *ngFor="let nutientCategory of nutrientCategories">
        <ng-container [ngSwitch]="getMenuItemContext(nutientCategory)?.state">
            <app-menu-item-card  
                *ngSwitchCase="CardState.VIEW" 
                [menuItem]="getMenuItemContext(nutientCategory)!.menuItem"
                [isEditable]="true"
                (onToggleMenuItemEditMode)="setMenuItemState(nutientCategory, CardState.EDIT)"></app-menu-item-card>

            <app-edit-card 
                *ngSwitchCase="CardState.EDIT" 
                [editedMenuItem]="getMenuItemContext(nutientCategory)!.menuItem"
                (onEditMenuItem)="handleEditMenuItem($event)"></app-edit-card>

            <app-empty-card 
                *ngSwitchDefault 
                [nutrientCategory]="nutientCategory" 
                (click)="triggerMenuItemPicker(nutientCategory)"></app-empty-card>
        </ng-container>
    </ng-container>
</div>