<span class="day-string">{{readableDayString}}</span>
<div class="cards">
    <ng-container *ngFor="let nutientCategory of nutrientCategories">
        <ng-container [ngSwitch]="getMenuItemContext(nutientCategory)?.state">
            <app-menu-item-card  
                *ngSwitchCase="CardState.VIEW" 
                [menuItemEntry]="getMenuItemContext(nutientCategory)!.menuItemEntry"                
                (onToggleMenuItemEditMode)="setMenuItemState(nutientCategory, CardState.EDIT)"
                (onCancelReady)="cancelMenuItemReady($event)"></app-menu-item-card>

            <app-edit-card 
                *ngSwitchCase="CardState.EDIT" 
                [editedMenuItem]="getMenuItemContext(nutientCategory)!.menuItemEntry.menuItem"
                (onEditMenuItem)="handleEditMenuItem($event)"></app-edit-card>

            <app-empty-card 
                *ngSwitchDefault 
                [nutrientCategory]="nutientCategory" 
                (click)="triggerMenuItemPicker(nutientCategory)"></app-empty-card>
        </ng-container>
    </ng-container>
</div>