:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 88vw;
    padding-top: 2vh;
    height: auto;

    .date {
        display: flex;
        align-items: center;

        span {
            font-size: 1.5rem;
        }

        .start-date {
            margin-right: 1vw;
        }
        .end-date {
            margin-left: 1vw;
        }
    }
}