@use 'mixins/card.scss' as card;
@use 'mixins/icon.scss' as icon;
@use 'global/variables.scss' as *;

:host {
    @include card.card-host;
}

.container {    
    @include card.card-container;
    display: flex;
    justify-content: center;
    align-items: center;

    .add-icon {
        @include icon.icon-size(50px);
    }

    &.carb {
        background: linear-gradient($carb-color 0%, $carb-color 10%, $primary-color 10%);
    }
    
    &.protein {
        background: linear-gradient($protein-color 0%, $protein-color 10%, $primary-color 10%);
    }
    
    &.extra {
        background: linear-gradient($extra-color 0%, $extra-color 10%, $primary-color 10%);
    }
}

