<div class="container">
    <div class="icon-container edit" (click)="handleEditButtonClick(eventTypes.CHANGE)"><mat-icon fontIcon="edit"></mat-icon></div>
    <div class="icon-container delete" (click)="handleEditButtonClick(eventTypes.DELETE)"><mat-icon fontIcon="delete"></mat-icon></div>
    <div class="icon-container check" (click)="handleEditButtonClick(eventTypes.COMPLETE)"><mat-icon fontIcon="check"></mat-icon></div>
    <div class="icon-container close"><mat-icon fontIcon="close" (click)="handleEditButtonClick(eventTypes.CANCEL)"></mat-icon></div>
</div>